@model citycar.Models.Voiture

@{
    ViewData["Title"] = "Create";
    Proprietaire proprietaire = ViewData["Proprietaire"] as Proprietaire;
}
<script src="~/js/image.js"></script>
<h1>Create</h1>

<h4>Voiture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" name="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label"></label>
                <input asp-for="Marque" class="form-control"  required/>
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modele" class="control-label"></label>
                <input asp-for="Modele" class="form-control" required/>
                <span asp-validation-for="Modele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cylindree" class="control-label"></label>
                <input asp-for="Cylindree" class="form-control" min="0" required/>
                <span asp-validation-for="Cylindree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" min="0" required/>
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" class="form-control" name="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Categorie-select" class="control-label">Catégorie :</label>
                <select name="NomCategories" id="Categorie-select" class="form-control" required>
                    <option value="">--Veuillez choisir une option--</option>
                    <option value="Berline" selected>Berline</option>
                    <option value="SUV">SUV</option>
                </select>
            </div>
            @if (proprietaire != null)
            {
                <div class="form-group">
                    <input type="hidden" name="Id" class="form-control" id="Nom" value="@proprietaire.Id" />
                </div>
                <div class="form-group">
                    <input type="hidden" name="Nom" class="form-control" id="Nom" value="@proprietaire.Nom" />
                </div>
                <div class="form-group">
                    <input type="hidden" name="Prenom" class="form-control" id="Prenom" value="@proprietaire.NomComplet" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <label for="Nom" class="control-label">Nom propriétaire</label>
                    <input name="Nom" class="form-control" id="Nom" required/>
                </div>
                <div class="form-group">
                    <label for="Prenom" class="control-label">Prenom propriétaire</label>
                    <input name="Prenom" class="form-control" id="Prenom" required/>
                </div>
            }

            <div class="form-group">
                <input type="submit" onclick="return validate();" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
